.main__title {
  grid-area: title;
  padding: 20px 0 0 60px;
}

div.main__payment {
  grid-area: payment;
  background-color: #fff;
  margin: 150px 50px;
  border-radius: 20px;
  border: 1px solid #e8e8e8;
  height: 600px;
  width: 500px;
  position: relative;
  margin: 100px 0 0 200px;
}

.main__intro {
  grid-area: intro;
  padding: 0 60px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "title payment"
    "intro payment";
  gap: 5%;
}

.title__text {
  color: #16dfb5;
}

.card {
  position: absolute;
  width: 466px;
  height: 530.56px;
  top: -30px;
  right: 100px;
  z-index: -1;

  background: #e9f6ff;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 20px;
  transform: rotate(-5.53deg);
}

button.buybtc {
  color: white;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  padding: 10px 35px;
  border-radius: 15px 50px 50px;
  background: #16dfb5;
  border: 1px solid #16DFB5;
}

button.buybtc:hover {
  background: #1bcca6;
  border-color: #1bcca6;
}

button.buybtc:disabled {
  background: #B5B5B5;
  border-color: #B5B5B5;
  color: white;
}

#mui-component-select-currency {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media only screen and (max-width: 1500px) {
  .card {
    display: none;
  }

  .main {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "payment"
      "intro";
  }

  div.main__payment {
    height: 50vh;
    margin: 0;
    padding: 0 0 40px 0;
    width: 100%;
    height: 60vh;
  }

  .main__title h3 {
    font-size: 29px;
  }

  div.main__title {
    padding: 40px 0 40px 0;
    margin: 0;
  }

  .main__intro {
    padding: 0 !important;
    margin: 0 !important;
  }
}
