.background {
  position: absolute;
  height: 1493.46px;
  left: 15.03%;
  right: -5.7%;
  top: -627.31px;
  border-radius: 5% 0 0 0;
  z-index: -1;

  background: #5022ed;
  transform: matrix(1, -0.04, -0.04, -1, 0, 0);
}
